{% extends 'base.html' %} {% load static %}{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Categories</li>
{% endblock %}{% block content %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %}

<body>
    {% for category in categories %}
    <li>
        <a href="{% url 'category' category.id %}" class="card">
            <img src='{{category.photo}}' class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                    <div class="card__header-text">
                        <h3 class="card__title">{{category.name }}</h3>
                        <span class="card__status"> {{category.get_number_of_events}} </span>
                    </div>
                </div>
                <p class="card__description"> </p>
            </div>
        </a>
    </li>

    {% endfor %}

</body>
{% endblock %}