{% extends 'base.html' %} {% block title %} {{ category.name }} - {{ block.super }} {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
<li class="breadcrumb-item active">{{ category.name }}</li>
{% endblock %} {% block content %}
<table class="table">
    {% if user.is_authenticated %}
    <div class="mb-4">
        <a href="{% url 'new_event' %}" class="btn btn-primary">New event</a>
    </div>
    {% endif %}
    <thead class="thead-inverse">
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Creater</th>
            <th scope="col">Replies</th>
            <th scope="col">Attendees</th>
            <th scope="col">Date/Place</th>
            <th scope="col">Payment</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>
                <a href="{% url 'event' event.pk %}">{{ event.name }}</a>
                <small class="text-muted d-block">{{ event.description }}</small>
                <small class="text-info d-block"> <a href="{% url 'category' event.category.id %}">{{ event.category.name }}</a> </small>
            </td>
            <td> Created by <a href="{% url 'account' event.created_by.id %}">{{ event.created_by.username }}</a> </td>
            <td> {{ event.get_replies_count }} </td>
            <td> {{ event.get_attendees_count }} </td>
            <td> {{ event.date }} / {{ event.place }} </td>
            <td> {% if event.payment_type == 'Not free' %} {{event.payment}} TL {% else %} {{ event.payment_type }} {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}