{% extends 'base.html' %} {% block title %}Edit post{% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item active">Edit reply for the {{reply.event.name}}</li>
{% endblock %} {% block content %} {% if reply.created_by == user %}
<form method="post" class="mb-4" novalidate>
    {% csrf_token %} {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'event' reply.event.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
</form> {% endif %} {% endblock %}