{% extends 'base.html' %} {% block title %} {{ event.name }} - {{ block.super }} {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
{% if flag %}
<li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li> {% endif %}
<li class="breadcrumb-item"><a href="{% url 'all_events' %}">Events</a></li>
<li class="breadcrumb-item active">{{ event.name }}</li>
{% endblock %} {% block content %}

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog__details__content">
                    <div class="blog__details__item">
                        <img src="{{event.get_image}}" alt="">
                        <div class="blog__details__item__title">
                            <span class="tip">{{event.name}}</span>
                            <h4>{{event.description}}</h4>
                            <ul>
                                <li>by <span>{{event.created_by}}</span></li>
                                <li>{{event.created_at}}</li>
                                <li>{{event.get_replies_count}} Replies</li>
                                <li>{{event.get_attendees_count}} Attendees</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Date:</span> {{event.date}}
                            </li>
                            <li>
                                <span>Quota: </span> {{ event.get_attendees_count }} / {{ event.max_num_of_attendees }}
                            </li>
                            <li>
                                {% if not event.is_online %}<span> Place :</span> {{ event.place }}{% endif %}
                            </li>
                            <li>
                                <span>Payment :</span> {% if event.payment_type == 'Not free' %} {{event.payment}} TL {% else %} {{ event.payment_type }} {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="blog__details__desc">
                    </div>
                    <div class="blog__details__tags">
                        <a href="#">{{event.category.name}}</a>
                        <a href="#">{{ event.get_is_online }}</a>
                    </div>
                    <div class="blog__details__btns">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__btn__item">
                                    {% if event.created_by == user %}
                                    <h6><a href="{% url 'edit_event' event.pk %}"> Edit <i class="fa fa-pencil" aria-hidden="true"></i> </a></h6> {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__btn__item blog__details__btn__item--next">
                                    <h6>{% if event.created_by == user %}
                                        <form method="post" novalidate>
                                            {% csrf_token %}
                                            <button name='Delete' type="submit"> Delete  <i class="fa fa-trash-o" aria-hidden="true"></i></button> {% endif %}
                                        </form>
                                    </h6>
                                    <h6>{% if user.is_authenticated and not event.created_by == user %}
                                        <form method="post" novalidate>
                                            {% csrf_token %}
                                            <button name='Like' type="submit">Like <i class="fas fa-thumbs-up fa-beat fa-1x "></i> </button> {% if not event.is_occured %} <button name='Attend' type="submit">Attend <i class="fa fa-plus" aria-hidden="true"></i></button>                                            {%endif %}
                                        </form> <br> {% endif %} {{event.get_likes_count}} likes / {{event.get_attendees_count}} attendees
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__comment">
                        <h5> {{event.get_replies_count}} Replies</h5>
                        <a href="{% url 'new_reply' event.pk %}" class="leave-btn">New Reply <i class="fa fa-reply" aria-hidden="true"></i></a> {% for reply in event.replies.all %}
                        <div class="blog__comment__item">
                            <div class="blog__comment__item__pic">
                                <img src="img/blog/details/comment-1.jpg" alt="">
                            </div>
                            <div class="blog__comment__item__text">
                                <h6>{{reply.created_by}}</h6>
                                <p>{{reply.message}}</p>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>Created at: {{reply.created_at}}</li>
                                    <li>Last update: {% if reply.updated_at == null %} {{ reply.created_at }} {% else %} {{ reply.updated_at }} {% endif %} </li>
                                </ul>
                            </div>
                            <br>{% if reply.created_by == user %}
                            <h6><a href="{% url 'edit_reply' reply.event.pk reply.id %}"> Edit <i class="fa fa-pencil" aria-hidden="true"></i> </a></h6>{% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <div class="section-title">
                            <h4>Feature posts</h4>
                        </div>
                        <a href="#" class="blog__feature__item">
                            <div class="blog__feature__item__pic">
                                <img src="img/blog/sidebar/fp-1.jpg" alt="">
                            </div>
                            <div class="blog__feature__item__text">
                                <h6>XXX</h6>
                                <span>Seb 17, 2019</span>
                            </div>
                        </a>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}