{% extends 'base.html' %} {% block breadcrumb %}
<li class="breadcrumb-item active">Followers of
    <a href="{% url 'account' profile.user.id %}">{{profile.user.username}} </a> </li>
{% endblock %} {% block content %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th scope="col">Follower</th>
            <th scope="col">Followers</th>
        </tr>
    </thead>
    <tbody>
        {% for follower in followers %}
        <tr>
            <td>
                <a href="{% url 'account' follower.follower.user.id %}">{{ follower.follower.user.username }}</a>
                <small class="text-muted d-block">{{ follower.follower.name }} {{ follower.follower.surname }}</small>
            </td>
            <td> {{ follower.follower.get_num_of_followers }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}