{% extends 'base.html' %} {% block breadcrumb %}
<li class="breadcrumb-item active">Events</li>
{% endblock %} {% block content %}
<table class="table">
    {% if user.is_authenticated %}
    <div class="mb-4">
        <a href="{% url 'new_event' %}" class="btn btn-primary">New event</a>
    </div>
    {% endif %}
    <thead class="thead-inverse">
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Creater</th>
            <th scope="col">Replies</th>
            <th scope="col">Attendees</th>
            <th scope="col">Date</th>
            <th scope="col">Payment</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>
                <a href="{% url 'event' event.pk %}">{{ event.name }}</a>
                <small class="text-muted d-block">{{ event.description }}</small>
            </td>
            <td> Created by {{ event.created_by.username }} </td>
            <td> {{ event.get_replies_count }} </td>
            <td>0</td>
            <td> {{ event.date }} </td>
            <td> {% if event.payment_type == 'Not free' %} {{event.payment}} TL {% else %} {{ event.payment_type }} {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}