{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% block breadcrumb %}
<li class="breadcrumb-item active">Profiles </a>
</li>
{% endblock %} {% block content %}
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Followers</th>
                            </tr>
                        </thead>
                        <tbody>{% for profile in profiles %}
                            <tr>
                                <td>
                                    <div class="d-flex flex-column "> {% if profile.profile_picture %}
                                        <img src="{{ profile.get_image }}" alt="Admin" class="rounded-circle" width="150"> {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="cart__product__item__title">
                                        <h6><a href="{% url 'account' profile.user.id %}">{{ profile.user.username }}</a></h6>
                                    </div>
                                </td>
                                <td>{{ profile.name }} {{ profile.surname }}</td>
                                <td>{{ profile.get_num_of_followers }} </td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>
{% endblock %}